/* adding data */
body {
    position: relative;
    background-image: url("Marinduque_Island.jpg");
    background-size: 200% 150%;
    background-attachment: fixed;
}
.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container input {
    margin-right: 10px;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-button{
    background-color: greenyellow;
    padding: 10px 50px;

}

.label-add{
    text-align: center;
}
.content-container{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}
input[type="text"]{
    border-radius: 5px;
    padding: 10px 50px;
    background-color: white;
    display: block;
    margin: 15px 105px;
    border: 20px;
}

input[type="submit"]{
    border-radius: 10px;
    background-color: lightblue;
    display: block;
    margin: 15px 105px;
    padding: 10px 30px;
    font-weight: bold;
    border: 20px;
}
.content-container ul li{
    list-style: none;
    margin: 15px 25px;
    margin-bottom: 40px;
    
}
.content-container a{
    border-radius: 10px;
    border: 2px solid gold;
    color: white;
    background-color:  black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 18px;
    margin: 10px;
}
.content-container a:hover{
    background-color: lightgreen;
}
.description-container{
    max-width: 80%;
    width: 500px;
    height: 300px;
    border: none;
}

.data-container h3{
    background-color: lightcoral;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.data-container table {
    width: 100%;
    background-color: lightskyblue;
    border-collapse: collapse;
}

.data-container table th {
    text-align: center;
    padding: 20px;
    border: 3px solid black;
}

.data-container table td {
    padding: 20px;
    background-color: lightsteelblue;
    text-align: justify;
    border: 3px solid black;
}

#label-upload{
    display: flex;
    margin-left: 130px;
    font-weight: bold;
}

/* Set a specific width and height for the images */
table img {
    width: 250px;
    height: 200px;
}

/* Optional: Add styles for table and other elements as needed */
table {
width: 100%;
border-collapse: collapse;
}

th, td {
padding: 8px;
text-align: center;
border-bottom: 1px solid #ddd;
}


.location img {
    border-radius: 20px;
    width: 700px; /* Set the desired width for the images */
    height: 400px; /* Set the desired height for the images */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}

/* Delete Button Design */
#delete-button{
    text-decoration: none;
    color: white;
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}
#description-size{
    font-size: 20px;
    max-width: 80%;
    margin: 0 50px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
